<body id="body">
    <div class="jumbotron">
        <div class="row">
            <h1>Flintstone Customers</h1>
            <ul id="customers" />
        </div>
        <div class="row">
            <h1 class="col-md-12">Search</h1>
            <label class="col-md-12" for="lastName">Last Name:</label>
            <input class="col-md-12" type="text" id="lastName" size="5" />
            <input class="col-md-2 btn btn-info" type="button" value="Search" onclick="find();" />
        </div>
        <div class="row">
            <h1 class="col-xs-12">Results</h1>
            <ul id="results"></ul>
        </div>
    </div>
</body>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Populate the "All" list for the Flintstones

            $.getJSON('/api/Customers?accountId=4',
                function (data) {
                    // If successful, 'data' contains our Customers
                    $.each(data,
                        function (key, val) {
                            var displayValue = val.FirstName + ' ' + val.LastName;
                            $('<li/>', { text: displayValue })
                                .appendTo($('#customers'));
                        });
                });

        });

        function find() {
            $('#results').empty();
            var searchString = $('#lastName').val();
            $.getJSON('/api/Customers?lastName=' + searchString,
                function (data) {
                    $.each(data,
                        function (key, val) {
                            var displayValue = val.FirstName + ' ' + val.LastName + ' [' + val.CustomerId + ']';
                            $('<li/>', { text: displayValue }).appendTo($('#results'));
                        });
                },
                function (jqXHR, textStatus, err) {
                    $('#results').text('Error: ' + err);
                });
        };
    </script>
}